[user]
    name = Aromal Dileep
    email = aromaldileep96@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim

[pull]
    rebase = false

[fetch]
    prune = true

[color]
    ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
