[user]
    name = Aromal Dileep
    email = aromaldileep96@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim

[pull]
    rebase = false

[fetch]
    prune = true

[color]
    ui = auto

